{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="static/css/style.css">
         <link rel="preconnect" href="https://fonts.gstatic.com" />
         <link
           href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
           rel="stylesheet"
        />
       <!-- <div class="nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="home" href="/acceuil">Home</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
        </div>-->
        
       <title>Document</title>
    
    </head>
    <body>
       
    
    <form method="POST">
      
      
        <font color="bleu" >
          <h1><center> CELINE </center></h1>
        </font>
      

       
        <h2>Bienvenue sur la page officiel de la marque CELINE </h2>
       <h3> Authentifiez-vous ou creer un compte </h3>
      <!--  <div class="container">
        
        <img src="static/img/aa.jpg" class="img1">
        <img src="static/img/aaa.jpg" class="img2">
        <img src="static/img/b.jpg" class="img3">
      
      </div>-->
      
      </form>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
     <script src="static/app.js"></script>
          
    
    </body>


    </html>

    {% endblock content
        
      
    %}