{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  
  <h1 align="center">Nos Articles</h1>

  <div class="container">
        
    <img src="static/imgs/t1.png" class="img1">
    <img src="static/imgs/t2.png" class="img2">
    <img src="static/imgs/t3.png" class="img3">
    <img src="static/imgs/t4.png" class="img4">
    <img src="static/imgs/t5.png" class="img5">
    <img src="static/imgs/t6.png" class="img6">
    <img src="static/imgs/t7.png" class="img6">
    <img src="static/imgs/t8.png" class="img8">
    <img src="static/imgs/s1.png" class="img9">
    <img src="static/imgs/s2.png" class="img10">
    <img src="static/imgs/s4.png" class="img11">
    <img src="static/imgs/s3.png" class="img12">
    <img src="static/imgs/s5.png" class="img13">
    <img src="static/imgs/c1.png" class="img14">
    <img src="static/imgs/c2.png" class="img15">
    <img src="static/imgs/c3.png" class="img16">
    <div class="cercle">HOVER</div>
</div>
  {% endblock %}